$primary--color: #f4f4f4;
$secondary--color: #f9f3e7;
$text--color: #524e4e;

// mobile first approach
@media (max-width: 375px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  }
  main {
    // display: none;
  }
  // we need to add overflow

  // this is the navbar
  .nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 39px;
    background-color: $secondary--color;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    // hey Im ronald
    &__div__h3 {
      text-align: center;
      margin-left: -20px;
      font-weight: normal;
    }
    // as astra
    &__div__p {
      font-size: 12px;
      font-weight: 600;
      text-align: center;
    }
    // this is the hamburger menu
    &__div--menu {
      background-color: #c4c4c4;
      width: 41px;
      height: 5px;
      border-radius: 6px;
      position: relative;
    }
    &__div--menu::after,
    &__div--menu::before {
      content: "";
      background-color: #c4c4c4;
      width: 41px;
      height: 5px;
      position: absolute;
    }
    border-radius: 6px;
    &__div--menu::after {
      content: "";
      top: 10px;
    }
    &__div--menu::before {
      content: "";
      top: -10px;
    }
    // end of hamburger menu
  }

  // section of carousel

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h3 {
      margin-top: 20px;
      color: $text--color;
      text-align: center;
      font-weight: lighter;
    }
    .section_div--lines {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: -10px;
      .lines {
        margin: 0 2px;
        width: 20px;
        height: 2px;
        background-color: $text--color;
      }
      .lines--active {
        background-color: #c4c4c4;
      }
      .lines--black {
        background-color: #524e4e;
      }
    }
    .section__div--carousel {
      margin-top: 15px;
      width: 347px;
      height: 218px;
      display: flex;
      flex-direction: column;
    }
    &__p {
      color: $text--color;
      font-size: 10px;
      text-align: center;
      margin-bottom: 20px;
    }
    // animation
    .fade {
      animation: fade 5s ease-in-out infinite;
    }
    @keyframes fade {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 10;
      }
      80% {
        opacity: 10;
      }
      100% {
        opacity: 0;
      }
    }
    // end of carousel
    .section__h3--typing {
      font-weight: 400;
      font-size: 20px;
      color: black;
    }
    .section__div--underline {
      background-color: black;
      width: 347px;
      height: 3px;
    }
  }
  // end of main

  // tech stack and software section
  .section {
    width: 100%;
    &__h3 {
      font-weight: 700;
      font-size: 20px;
      margin-top: 10px;
      color: $text--color;
      text-align: center;
      &--normal {
        font-weight: normal;
      }
    }

    // first div of tech stack
    &__div {
      display: flex;
      justify-content: space-around;
      &__img {
        margin-top: -10px;
        width: 71px;
      }
      .sass {
        margin-right: -100px;
        width: 66px;
      }
      .python {
        width: 66px;
      }
    }
    // second div for software
    .section__div__h3--padding--top {
      margin-top: -10px;
    }
    .section__div--software--modifier {
      display: flex;
      justify-content: space-between;
      img {
        width: 70px;
        height: 70px;
        padding: 0 5px;
      }
    }
    // end fo second div for software
  }
  // this is the start of project
  // general classes
  .section--project {
    .section__h3--myprojects {
      font-size: 22px;
      font-weight: bold;
      color: $text--color;
      margin-bottom: 20px;
    }
    .section__div--firstProj,
    .section__div--secondProj,
    .section__div--thirdProj {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 30px 0;
    }
    img {
      width: 337px;
      height: 150px;
    }
    .section__div__h3 {
      color: $text--color;
      margin-left: -237px;
      padding-left: 10px;
      margin-top: 5px;
      font-weight: 600;
    }
    .section__div__h3--push {
      margin-left: -267px;
    }
    .section__div__p {
      color: $text--color;
      text-align: justify;
      width: 337px;
      font-size: 10px;
      padding: 0 5px;
    }
    .section__div__btn {
      background-color: #c1c1c1;
      width: 100px;
      height: 15px;
      border-radius: 7.5px;
      border: none;
      font-size: 9px;
      color: black;
      font-weight: 600;
      margin-top: 10px;
    }
  }
  // end of project section

  // this is the footer contains my info
  .section--info {
    .section__h3 {
      font-size: 22px;
      font-weight: bold;
      color: $text--color;
    }

    .section__div--firstRow {
      margin-top: -30px;
      justify-content: center;
    }
    .section__div--secondRow {
      justify-content: center;
      margin-top: -70px;
    }
  }

  // this is the start of hamburger menu
  .section--hamburger {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    display: none; ///////////////////////////////////////////////////////////////////////////////////////////////
    .section__nav {
      width: 307px;
      height: 46px;
      background-color: $secondary--color;
      display: flex;
      align-items: center;
      padding: 0 10px;
      justify-content: space-between;
      &__p {
        font-size: 20px;
        color: $text--color;
        font-weight: 600;
      }
    }
    // start of hamburger cross
    .section__nav__div--hmaburgerCross {
      width: 41px;
      height: 5px;
      background-color: #c4c4c4;
      border-radius: 6px;
      position: relative;
    }
    .section__nav__div--hmaburgerCross::after {
      content: "";
      background-color: #c4c4c4;
      width: 41px;
      height: 5px;
      position: absolute;
      transform: rotate(-90deg);
      background-color: #c4c4c4;
      border-radius: 6px;
    }
    .section__nav__div--hmaburgerCross {
      transform: rotate(45deg);
    }
    // end of hamburger cross

    // start of info
    .section__div--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 307px;
      height: 191px;
      background-color: burlywood;
      border-bottom-left-radius: 80px;
      border-bottom-right-radius: 80px;
      background: url(/try4.jpeg) no-repeat center center/cover;

      img {
        width: 73px;
        height: 73px;
        border-radius: 50%;
        margin-top: -10px;
      }
      .section__div__p {
        font-size: 16px;
        color: black;
        font-weight: 500;
        margin-top: -30px;
      }
      .section__div__h3 {
        text-align: center;
        margin-top: -30px;
        font-weight: 600;
        font-size: 19px;
      }
    }
    // end of info
    .section__hamburger--container {
      margin-top: 10px;
      width: 307px;
      padding-left: 10px;
      // general class
      .section__div__p {
        margin-left: 40px;
        font-size: 23px;
        color: $text--color;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .section__div__p--small {
        margin-left: 40px;
        font-size: 23px;
        color: $text--color;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      span {
        margin-left: 40px;
        width: 221px;
        height: 1px;
        background: $text--color;
      }
      // end of general class
      .section__div--project,
      .section__div--connect {
        display: flex;
        flex-direction: column;
        .section__div__h1 {
          color: $text--color;
          font-size: 30px;
          margin-bottom: 5px;
          margin-top: 10px;
        }
      }
    }
  }
}
